n8n/workflows/approval_workflow.json
{
  "name": "Approval Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Task Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "approval-request-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://langgraph-api:8000/api/v1/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "={{ $json.task }}"
            },
            {
              "name": "pattern",
              "value": "sequential"
            }
          ]
        },
        "options": {}
      },
      "id": "generate",
      "name": "Generate Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resumeEvents": "formSubmission",
        "formTitle": "Content Approval Required",
        "formDescription": "Please review the generated content and provide your approval decision.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Generated Content",
              "fieldType": "text",
              "requiredField": false
            },
            {
              "fieldLabel": "Approved",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes - Approve"
                  },
                  {
                    "option": "No - Revise"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "fieldType": "textarea",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "id": "wait",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.Approved }}",
              "operation": "contains",
              "value2": "Yes"
            }
          ]
        }
      },
      "id": "check",
      "name": "Check Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process approved content\nreturn [{\n  json: {\n    status: 'approved',\n    task: $('Task Webhook').first().json.task,\n    content: $('Generate Draft').first().json.final_output,\n    approver_feedback: $json.data.Feedback,\n    approved_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "approved",
      "name": "Process Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://langgraph-api:8000/api/v1/loop",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "={{ $('Task Webhook').first().json.task }}. Feedback: {{ $json.data.Feedback }}"
            },
            {
              "name": "quality_threshold",
              "value": "0.9"
            }
          ]
        },
        "options": {}
      },
      "id": "revise",
      "name": "Revise Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 400]
    },
    {
      "parameters": {},
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Task Webhook": {
      "main": [
        [
          {
            "node": "Generate Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Draft": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Check Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval": {
      "main": [
        [
          {
            "node": "Process Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revise Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Approved": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revise Content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "langgraph",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "approval",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "agentic-patterns"
  }
}
