n8n/workflows/main_orchestrator.json
{
  "name": "Main Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "main-orchestrator"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input\nconst body = $input.first().json.body;\n\nif (!body || !body.query) {\n  throw new Error('Missing required field: query');\n}\n\nreturn {\n  query: body.query,\n  user_id: body.user_id || 'anonymous',\n  session_id: body.session_id || $execution.id,\n  metadata: body.metadata || {},\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "={{ $env.LANGGRAPH_API_URL }}/v1/graph/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ { query: $json.query, user_id: $json.user_id, session_id: $json.session_id } }}"
            },
            {
              "name": "config",
              "value": "={{ { configurable: { thread_id: $json.session_id } } }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "trigger-langgraph",
      "name": "Trigger LangGraph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "langgraph-api-key",
          "name": "LangGraph API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process successful response\nconst response = $input.first().json;\n\nreturn {\n  status: 'success',\n  result: response.output,\n  execution_id: response.execution_id,\n  duration_ms: response.duration_ms,\n  metadata: {\n    user_id: response.user_id,\n    session_id: response.session_id,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "process-success",
      "name": "Process Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Handle error\nconst error = $input.first().json;\n\nreturn {\n  status: 'error',\n  error: {\n    message: error.error || 'Unknown error',\n    code: error.code || 'INTERNAL_ERROR',\n    details: error.details || {}\n  },\n  metadata: {\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "={{ $env.LOGGING_ENDPOINT }}/logs",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "level",
              "value": "info"
            },
            {
              "name": "message",
              "value": "Workflow execution completed"
            },
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Trigger LangGraph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger LangGraph": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Process Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Success": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
